<!DOCTYPE html>
<html lang="en">
    
<head> 

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <script src="script.js"></script>
    <title>Document</title>
   
</head>
<body>
  
    <main>
      
   <header class="header">
    <h1>Add an Employee</h1>
   </header>
   
    <form class="card" onsubmit="return false;">

    <label for="fname">Enter your name:</label><br>
    <input type="text" id="fname" name="name"><br>

    <label for ="surname">Enter your surname</label><br>
    <input type="text" id="surname" name="surname"><br>

    <label for ="email">Email</label><br>
    <input type="text" id="email" name="email"><br>

    <label for ="Role">Role</label><br>
    <input type="text" id="Role" name="Role"><br>

    <label for ="Department">Department</label><br>
    <input type="text" id="occupation" name="occupation"><br>
    <br>
    
     <input type="submit" value="Add employee" onclick="getFormValues()">

</form>
</main>

    
</body>
</html>